<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connectSQL" connectionString="Data Source= 10.10.20.18,1434; Initial Catalog= WinClean; User ID= admin; Password= abc@123; Integrated Security=False;"
      providerName="System.Data.SqlClient" />
    <add name="Clean_Recycle.Properties.Settings.WinCleanConnectionString"
      connectionString="Data Source=HOANGKIN;Initial Catalog=WinClean;Persist Security Info=True;User ID=newsa;Password=abc@1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
